<nav class="navigation">
	{{ if not .IsHome }}
		<a href="{{ "/" | relLangURL }}"> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}{{ i18n "home" }}{{ end }}</a>
	{{ end }}
	<a href="{{ "/tags" | relLangURL }}">{{ with .Site.Params.tags }}{{ . }}{{ else }}{{ i18n "tags" }}{{ end }}</a>
	<a href="{{ "/game-list" | relLangURL }}">{{ with .Site.Params.games }}{{ . }}{{ else }}{{ i18n "games" }}{{ end }}</a>
	<a href="{{ "/project-list" | relLangURL }}">{{ with .Site.Params.projects }}{{ . }}{{ else }}{{ i18n "projects" }}{{ end }}</a>
	<a href="{{ "/about" | relLangURL }}">{{ with .Site.Params.about }}{{ . }}{{ else }}{{ i18n "about" }}{{ end }}</a>

	{{ range $element := .Site.Params.Links }}
		<a href="{{ $element.path }}">{{ $element.name }}</a>
	{{ end }}

	{{- range .Page.AllTranslations }}
		<a class="langavailable" href="{{ .Permalink | relURL }}">{{ .Language.Params.languageNameShort }}</a>
	{{- end }}


	{{ if .Site.Params.enableRSS }}
	  <a class="button" href="{{ .Site.RSSLink }}">{{ with .Site.Params.subscribe }}{{ . }}{{ else }}{{ i18n "subscribe" }}{{ end }}</a>
	{{ end }}
</nav>
