    <div class="tip">
        <time datetime="{{ .PublishDate }}">{{ i18n "publishDateFull" . }}</time>
        <span class="split">
          ·
        </span>
        <span>
          {{ i18n "wordCount" . }}
        </span>
        <span class="split">
          ·
        </span>
        <span>
          {{ i18n "minuteRead" . }}
        </span>
    </div>
    {{ with .Params.tags }}
        <div class="tags">
            {{ range . }}
                <a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
    {{ end}}